<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">{{currentUser.user_full_name}}</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>

<!-- main app container -->
<div class="p-5">
    <div class="container">
        <div class="row">
            <div [ngClass]="{'col-sm-6 offset-sm-3': !currentUser, 'col-12': currentUser}">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>